.container {
  max-width: 720px;
  margin: 3rem auto;
  padding: 0 1.5rem;
  font-family: "Segoe UI", Roboto, sans-serif;
  line-height: 1.6;
  color: #222;
}

.author, .project, .tech {
  margin-bottom: 2rem;
}


.homeLink {
  color: #0070f3;
  text-decoration: underline;
  cursor: pointer;
}
