.container {
  max-width: 720px;
  margin: 3rem auto;
  padding: 0 1.5rem;
  font-family: "Segoe UI", Roboto, sans-serif;
  line-height: 1.6;
  color: #222;
}

.catchcopy {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #555;
}

.posts ul {
  list-style: none;
  padding: 0;
}


.postCard h3 {
  margin: 0 0 0.5rem;
}

.about {
  margin-top: 3rem;
}

.right {
  float: right;
}
