.title {
    font-size: 1.75rem;
    text-align: center;
}
.pageDescription {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}
.pageNum {
    text-align: center;
    margin-top: 3rem;
}
.adjacentPagesContainer {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
}
.adjacentPagesContainer li {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 2.4rem;
    text-align: center;
    border-right: 1px solid var(--color-light-gray2);
}
.adjacentPagesContainer li:last-child {
    padding-right: 0;
    border-right: none;
}
.adjacentPagesContainer li:first-child {
    padding-left: 0;
}
.adjacentPagesContainer > li > * {
    display: block;
    width: 80%;
    line-height: 2;
    transition: all ease-in-out 0.1s;
}
.adjacentPagesContainer > li > *:hover {
    background-color: var(--color-light-gray0);
    border-radius: 0.15rem;
}

.currentPageLink > * {
    border-bottom: 2px solid var(--color-accent) !important;
}