.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.item {
  margin-bottom: 2rem;
  padding: 1rem 1rem 1.5rem 1rem; /* 上右下左の余白 */
  border-bottom: 2px solid #8991b2;  /* 境界線を少し濃く */
}

.item:last-child {
  border-bottom: none;             /* 最後の投稿は線なし */
}