.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.item {
  margin-bottom: 2rem;
  padding: 1rem 1rem 1.5rem 1rem; /* 上右下左の余白 */
  border-bottom: 2px solid #8991b2;  /* 境界線を少し濃く */
}


.item:last-child {
  border-bottom: none;             /* 最後の投稿は線なし */
}


.link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items:stretch;
  flex-direction: row-reverse;
  gap: 1rem;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.link:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}

.thumbnailWrapper {
  position: relative;
  min-width: 40%;
  max-width: 640px;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 0.75rem;
}

.thumbnail {
  object-fit: cover;
}

.itemText {
    width: 100%;
}

.postTitleContainer {
    display: flex;
    border-bottom: 1px dashed #8991b2;
    justify-content: space-between;
}

.postTitle {
  font-size: 1.25rem;
  margin: 0.25rem 0;
}

.metadataContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.tagContainer {
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 10px;
    padding-left: 0;
}

.date { 
    font-size: 0.8rem;
    color: #555;
}


.description {
  color: #555;
  font-size: 0.95rem;
  line-height: 1.6;
}
