.adjacentPageButton {
    background: none;
    border: none;
    font-size: 1rem;
}
.adjacentPageButton:hover {
    color: var(--color-accent);
    cursor: pointer;
    border-bottom: 1px solid var(--color-accent);
}